/* -------------------------------------------------------------------------- */
/*                                  NOSOTROS                                  */
/* -------------------------------------------------------------------------- */
.portada__nosotros{
    background-image: url(../assets/img/portada__nosotros.jpg);
    background-size: cover;
    background-position: bottom;
}
.nosotros__descripcion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.nosotros__imagen{display: none;}
.nosotros__introducción .bienvenida__imagen {display: none;}
.portada__nosotros .portada__texto {
    padding: 1rem;  
    background-color: rgb(0 0 0 / 0.6); 
} 
.nosotros__parrafo{font-size: 1rem;}

.nosotros__contenido{
    border-left: 2px solid var(--rosa);
    padding-left: 1rem;
}
.nosotros__valores{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
} 
.nosotros__valor{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    flex: 1;        
    padding: 1rem; 
    color: var(--blanco);
    border-radius: 1rem;
}
/* -------------------------------------------------------------------------- */
/*                               INICIAR SESIÓN                               */
/* -------------------------------------------------------------------------- */
.registro__formulario{
    display: flex;
    flex-direction: column; 
}
.login{
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
    padding: 1rem;    
} 
.login__titulo{
    display: block;
    width: 100%; 
    text-align: center;
    font-size: 2rem;
    font-family: var(--titulo); 
    margin-bottom: 1rem;
}
.registro__formulario{
    margin-top: 0;
}
.login__contenedor{ 
    display: flex;
    border: 3px solid var(--rosa);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
} 
.registro__contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; 
}
