 
@media (min-width: 600px) {
    body {font-size: 15px; }  
    /* ---------------------------------- MAIN ---------------------------------- */
    .main {width: 80%;}
    /* ------------------------------- BIENVENIDOS ------------------------------ */
    .bienvenida__logo{ height: 15rem;}   
    .bienvenida__imagen{padding: 0;} 
    /* -------------------------------- SERVICIOS ------------------------------- */
    .servicios__parrafo, .servicios__imagen, .servicios__enlace{display: none;}
    .servicios__icono{font-size: 100px; }
    .servicios__tarjeta{ 
        height: calc((80vw - 4rem)/4);
        min-height: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--blanco);
        position: relative;
        z-index: 1;
        transition: var(--transition);
        cursor: pointer;
    }  
    /* ------------------------------ INSTALACIONES ----------------------------- */
    .instalaciones__miniatura{display: flex;}
    /* -------------------------------------------------------------------------- */
    /*                                  NOSOTROS                                  */
    /* -------------------------------------------------------------------------- */
    .nosotros__introducción .bienvenida__texto, .nosotros__introducción .bienvenida__imagen {flex: 1; display: block;}
    .nosotros__introducción .bienvenida__imagen{display: flex;}
    /* -------------------------------- NOSOTROS -------------------------------- */
    .nosotros__parrafo{font-size: 1.25rem; max-width: 80%;}
    /* -------------------------------- REGISTROS ------------------------------- */
    .login__contenedor{
        width: 80%;
        max-width: 800px;
    }
    .registro__formulario .contacto__label{
        flex: 1; 
        min-width: 300px;
    }

}

 
@media (min-width: 768px) {
    body {font-size: 16px;}
    /* ---------------------------------- MENU ---------------------------------- */
    .cabecera {
        padding: 0 var(--padding);
        justify-content: space-between;
    }
    .cabecera__nombre, #botonMenu{display: none;}
    .cabecera__logo {width: min-content;}
    .menu {
        width: auto;
        height: auto;
        transform: translateY(0);
        top: 0;
        opacity: 1;
        position: relative;
    }
    .menu__lista {display: flex;}
    .menu__elemento, .menu__lista:first-child, .menu__desplegable .menu__enlace:first-child  {border: none;}
    .menu__elemento {padding: calc(var(--padding) * 1.25) var(--padding);}
    .menu__elemento:hover  > .menu__desplegable, .menu__desplegable:hover{
        display: block;
        opacity: 1;
        z-index: 100;
        position: absolute;
        top: 100%; 
    }  
    .menu__desplegable .menu__enlace {padding: var(--padding); }
    .menu__desplegable:last-child {border-radius: 0 0 1rem 1rem;}
    .menu__enlace { 
        position: relative;
        font-weight: 500; 
    }
    .menu__enlace::after {
        content: '';  
        position: absolute;
        left: 1rem;  
        bottom: 0.5rem;
        width: 0;
        height: 0.2rem;
        border-radius: 10px;
        background-color: var(--azul);
        transition: var(--transition);
    }
    .menu__enlace:hover::after { width: 80%;}
    .menu__enlace:hover {
        background-color: transparent;
        color: var(--azul);
    } 
    /* ------------------------------ INSTALACIONES ----------------------------- */
    .instalaciones__imagen{height: 400px;}
    /* -------------------------------- NOSOTROS -------------------------------- */
    .nosotros__grande{
        display: flex;
        align-items: stretch;
        gap: 1rem;
    }
    .nosotros{display: flex; gap: 5rem; flex-direction: column;}
    .nosotros__grande-Inverso{flex-direction: row-reverse;}
    .nosotros__imagen{display: block; }
    .nosotros__img{  
        width: 100%;
        height: 100%;
        max-height: 620px;
        object-fit: cover; /* Ajusta el recorte sin deformar */
        display: block;
        border-radius: 1rem;
    } 
    .nosotros__imagen, .nosotros__descripcion{flex: 1;}

}

 
@media (min-width: 1024px) {
    body {font-size: 17px;} 
    /* ---------------------------------- MAIN ---------------------------------- */
    .main {width: 70%;}
    /* ------------------------------- BIENVENIDA ------------------------------- */
    .bienvenida{flex-direction: row;} 
    .bienvenida__imagen{
        padding: 0; 
        background-color: var(--azulOscuro);
        border-radius: 0 1rem 1rem 0;
        height: 100%;
        display: flex;
    } 
    .bienvenida__logo{
        width: 100%; 
        height: auto;  
    }
    /* -------------------------------- UBICACION ------------------------------- */
    .contactoUbicacion {  
        flex-direction: row;
        gap: 2rem;      
    }
    .contacto, .ubicacion {flex: 1; }
    /* -------------------------------- NOSOTROS -------------------------------- */
    .bienvenida__logo{width: 100%; height: auto;}
    .portada__nosotros .portada__texto .portada__subfrase {max-width: 800px;}
    /* -------------------------------- NOSOTROS -------------------------------- */
    .nosotros__parrafo{
        font-size: 1.5rem; 
        max-width: 70%;
        font-weight: 600;
    }
}

 
@media (min-width: 1280px) {
    body {font-size: 18px;
        /* max-width: 1200px; */ 
    } 
    /* ---------------------------------- MENU ---------------------------------- */
    .cabecera__nombre {
        margin-left: 1rem;
        display: block;
        width: max-content; 
        font-weight: 700;
    }
    /* --------------------------------- PORTADA -------------------------------- */
    .portada__texto{gap: 5rem;}
    .portada__frase{font-size: 3rem;}
    .portada__subfrase{font-size: 2rem;}
    .portada__frase, .portada__subfrase{max-width: 1000px;}
    /* ---------------------------------- MAIN ---------------------------------- */
    .main, .nosotros {width: 70%;}
    .secciones__titulo{ font-size: 2.5rem;}
    .secciones__subtitulo{font-size: 1.25rem;}
    .servicios__tarjeta{ 
        height: calc((70vw - 3rem)/4);}
    /* ------------------------------ INSTALACIONES ----------------------------- */
    .instalaciones__imagen{height: 500px;}
    /* -------------------------------- NOSOTROS -------------------------------- */
    .nosotros__parrafo{
        font-size: 2rem; 
        max-width: 80%;
        font-weight: 600;
    }
}
