@media (min-width: 768px)   {
    .cabecera{
        justify-content: space-between; 
        padding: 0 1rem;
        height: min-content;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .menu {
        width: auto;
        height: auto;
        transform: translateY(0);
        top: 0;
        opacity: 1;
        position: relative;
    }
    .menu__lista{
        display: flex; 
    }
    .menu__lista:first-child {
        border-top: none;
    }

    .menu__elemento{
        border: none;
        padding: 1.25rem 1rem;
    }

    .cabecera__nombre, #botonMenu{
        display: none;
    }
    .cabecera__logo {
        width: min-content;
    }
    .menu__elemento:hover  > .menu__desplegable, .menu__desplegable:hover{
        display: block;
        opacity: 1;
        z-index: 10;
        position: absolute;
        top: 100%; 
    }  
    .menu__desplegable .menu__enlace:first-child {
        border: none;
    }
    .menu__desplegable .menu__enlace {
        padding: 1rem ;
    }
    .menu__desplegable:last-child {
        border-radius: 0 0 1rem 1rem;
    }
    .menu__enlace{
        position: relative;font-weight: 600;  
    }
    .menu__enlace::after {
        content: '';  
        position: absolute;
        left: auto; right: auto;
        bottom: 0.5rem;
        width: 0;
        height: 0.2rem;
        border-radius: 10px;
        background-color: var(--azul);
        transition: var(--transition);
    }
    .menu__enlace:hover::after { 
        width: 90%
    }
    .menu__enlace:hover {
        background-color: transparent;
        color: var(--azul);
        
    }
    .portada__frase{  
    padding: 0 2rem 0 2rem;
        font-size: 2rem; 
    } 
    .portada {
        margin-top: 90.39px;
        height: calc(100vh - 90.39px);
    }
}
@media (min-width: 993px) {
    .cabecera__nombre {
        display: block;
        width: max-content;
    } 

}
@media (min-width: 1201px) {

}
