/* -------------------------------------------------------------------------- */
/*                              ESTILOS GENERALES                             */
/* -------------------------------------------------------------------------- */

/* Importacion de tipografias */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
:root {
    --titulo:"Poppins", sans-serif  ;
    --texto: "Inter", sans-serif;
    --rosa: #731a4b;
    --azul: #2192bf;
    --azulOscuro: #025e73;
    --verde: #72a69c; 
    --crema: #f2d0a7;
    --blanco: #fff;
    --negro: #000;
    --padding: 1rem;
    --transition: all 0.5s ease-in-out;
}
body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;  
    font-size: 14px;
}
html {font-size: 100%; }
/* Formateo de página */
* {
  padding: 0;
  margin: 0; 
  font-family: var(--texto);
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                    HEADER                                  */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- MENU ---------------------------------- */
.cabecera {
    display: flex;  
    position: fixed;
    width: 100%;
    padding: var(--padding);
    background-color: var(--blanco);
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 2px #CCC;
}
.cabecera__logo { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-decoration: none;
}
.cabecera__img { height: 50px; }
.cabecera__nombre { 
    font-family: var(--titulo);
    font-weight: 600;
    color: var(--azul);
}
.menu__boton {
    width: 2.5rem;
    font-size: 2.5rem; 
    color: var(--rosa);
    cursor: pointer;
    transition: var(--transition);
}
.menu { 
    position: absolute;
    top: calc(50px + 2*var(--padding));
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: var(--blanco);
    opacity: 0;
    transform: translateY(calc(-100% - 50px - 2*var(--padding)));
    transition: var(--transition);
    &.menu__visible {
        transform: translateY(0);
        opacity: 1;
    }
} 
.menu__lista, .menu__desplegable{list-style: none;}
.menu__enlace {
    color: var(--negro);
    display: inline-block;
    padding: var(--padding);
    text-decoration: none;
}
.menu__desplegable{
    display: none;
    opacity: 0; 
    background-color: var(--blanco);
    &.menu__desplegable--visible{
        display: block;
        opacity: 1;
    }
}
.menu__desplegable .menu__enlace { padding-left: 2rem;}
.menu__elemento, .menu__desplegable .menu__enlace {border-bottom: 1px solid #ccc;}
.menu__lista:first-child, .menu__desplegable .menu__enlace:first-child {border-top: 1px solid #ccc;}

/* --------------------------------- PORTADA -------------------------------- */
.portada {
    background-color: #731a4b;
    margin-top: calc(50px + 2*var(--padding));
    height: calc(100dvh - (50px + 2*var(--padding)));
    position: relative;
}
.portada__texto{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: var(--blanco);
}
.portada__frase {
    font-family: var(--titulo);
    font-weight: 600;
    font-size: 1.25rem;
}
.portada__subfrase{font-size: 1rem;}
.portada__frase, .portada__subfrase{max-width: 400px;}
.portada__video{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}   

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%; 
    margin: 2rem auto;
}
.secciones__titulo, .nosotros__subtitulo{
    font-family: var(--titulo);
    font-weight: 700;
    font-size: 2rem;
}
.secciones__subtitulo{color: #555;}
/* ------------------------------- BIENVENIDA ------------------------------- */
.bienvenida {
    background-color: var(--azul);
    border-radius: var(--padding);
    align-items: center;
}
.bienvenida, .bienvenida__texto {
    display: flex;
    flex-direction: column;
    color: var(--blanco);
}
.bienvenida__texto {gap: 1rem;}
.bienvenida__texto, .bienvenida__imagen{padding: var(--padding);}
.bienvenida__titulo{
    font-family: var(--titulo);
    font-weight: 600;
    font-size: 2rem;
}
.bienvenida__logo{ height: 8rem;} 
 /* -------------------------------- SERVICIOS ------------------------------- */
.servicios__tarjeta { 
    border-radius: var(--padding);
    padding: var(--padding);
    color: var(--blanco);
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    gap: 1rem; 
} 
.servicios__imagen { 
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--padding);
}
.servicios__enlace{ 
    text-decoration: none;   
    padding: calc(var(--padding) / 2) var(--padding);
    width: max-content;
    border-radius: var(--padding);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--blanco);
} 
.servicios__modal{
    border: none ;
    outline: none ;
    box-shadow: none ;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 30rem;
    box-shadow: 0 0 10px #0004;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
.servicios__modal::backdrop{background: rgba(0, 0, 0, 0.5);}
.servicios__boton{
    background-color: var(--rosa);
    outline: none ;
    box-shadow: none ;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: max-content;
    border: 2px solid var(--rosa);
    color: var(--blanco);
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none; 
}
.servicios__botones{
    display: flex;
    justify-content: space-between;
}
.servicios__boton:hover {
    border: 2px solid var(--rosa);
    background-color: var(--blanco);
    color: var(--rosa);
}
/* ------------------------------ INSTALACIONES ----------------------------- */
.instalaciones__imagen{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.instalaciones__miniatura {
  display: none;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
} 
.instalaciones__mini {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
} 
.instalaciones__arrow svg {
    fill: var(--rosa); 
    font-size: 200px;
}
.instalaciones__mini img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}
/* ------------------------------- CONTACTANOS ------------------------------ */
.contacto__formulario{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contacto__label{
    display: grid;
    width: 100%;
    grid-template-areas: "input";
}
.contacto__placeholder{
    grid-area: input;
    width: max-content;
    padding: 1rem;
    color: gray;
    transition: var(--transition);
}
.contacto__textarea{resize: none;}
.contacto__input{
    grid-area: input;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid gray; 
    width: 100%;
}
.contacto__input:focus-visible{outline: 1px solid var(--azulOscuro);}
.contacto__input:is(:focus, :not(:placeholder-shown)) + .contacto__placeholder{
    transform: translate(-0.5rem, -2.5rem) scale(0.9); 
    color: var(--azulOscuro);
}
.contacto__input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
.contacto__botones{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.contacto__boton{
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--rosa);
    color: var(--blanco);
    border: 2px solid var(--rosa);
    transition: var(--transition);
    cursor: pointer;
}
.contacto__boton:hover {
    background-color: var(--blanco);
    color: var(--rosa);
}
.contacto__input:-webkit-autofill {
    background-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}
.contacto__error{
    color: var(--rosa);
    font-weight: 600;
    padding: 0.5rem;
}

.contacto__modal{
    border: none ; 
    align-items: center;
    outline: none ;
    box-shadow: none ;
    margin: auto;
    align-self: center;
    border-radius: 1rem;
    padding: 1rem; 
    box-shadow: 0 0 10px #0004; 
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.contacto__icono{
    font-size: 100px;
    color: var(--verde); 
}
.contacto__modal::backdrop{background: rgba(0, 0, 0, 0.5);}
/* -------------------------------- UBICACIÓN ------------------------------- */
.contactoUbicacion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ubicacion__mapa{
    margin-top: 2rem;
    width: 100%;
    height: 100vw;
    max-height: 500px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.5);
}
/* --------------------------------- FOOTER --------------------------------- */
.footer{
    width: 100%;
    background-color: var(--azul);
    display: flex;
    padding: 1rem ;
    flex-direction: column;
    color: var(--blanco);
    align-items: center;
    gap: 1rem;
}
.footer__titulo{
    font-family: var(--titulo);
}
.footer__subtitulo{
    font-size: 1rem;
}