/* -------------------------------------------------------------------------- */
/*                              ESTILOS GENERALES                             */
/* -------------------------------------------------------------------------- */

/* Importacion de tipografias */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
:root {
  --titulo:"Poppins", sans-serif  ;
  --texto: "Inter", sans-serif;
  --rosa: #731a4b;
  --azul: #2192bf;
  --azulOscuro: #025e73;
  --verde: #72a69c; 
      --crema: #f2d0a7;
  --blanco: #fff;
  --negro: #000;
  --padding: 1rem;
  --transition: all 0.5s ease-in-out;
}
body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden; 
}
/* Formateo de página */
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--texto);
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                    INDEX                                   */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- MENU ---------------------------------- */
.cabecera {
    display: flex;  
    width: 100%;
    padding: var(--padding);
    background-color: var(--blanco);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.cabecera__logo { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cabecera__img { height: 50px; }

.cabecera__nombre {
    font-family: var(--titulo);
    font-weight: 800;
    color: var(--azul);
}

.menu__boton {
    width: 50px;
    font-size: 50px; 
    color: var(--rosa);
    cursor: pointer;
    transition: var(--transition);
} 
.menu {
    position: absolute;
    top: 82px;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: translateY(calc(-100% - 82px));
    background-color: var(--blanco);
    transition: var(--transition);
    &.menu__visible {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu__lista {
    list-style: none;
}

.menu__lista:first-child, .menu__desplegable .menu__enlace:first-child {
    border-top: 1px solid #ccc;
}

.menu__elemento, .menu__desplegable .menu__enlace {
    border-bottom: 1px solid #ccc;
}

.menu__enlace {
    display: flex; 
    padding: var(--padding);
    text-decoration: none;
    color: var(--negro);
}

.menu__desplegable {
    display: none;
    list-style: none; 
    opacity: 0;
    background-color: var(--blanco);
    &.menu__desplegable--visible{
        display: block;
        opacity: 1;
    }
} 
 
.menu__desplegable .menu__enlace {
    padding: 1rem 3rem;
}

.portada {
    margin-top: 82px;
    height: calc(100vh - 82px);
    width: 100%;
    position: relative; 
}
.portada__texto{
    position: absolute;
    height: 100%; 
    width: 100%;
    background-color: rgb(0 0 0 / 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: var(--blanco);
}
.portada__frase {
    font-family: var(--titulo);
    font-weight: bold;
    font-size: 1.5rem;
    background: url(../assets/video/portada__desktop.mp4);
}
.portada__video{
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
.main {
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    width: 100%;
    padding: 2rem 1rem ;
} 
.bienvenida{ 
    width: 100%;  
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    position: relative;
    background-color: var(--azul);
    color: var(--blanco);
}
.bienvenida__titulo{
    font-size: 2rem;
}
.bienvenida__subtitulo{
    color: #f7f7f7;
}
.bienvenida__texto, .bienvenida{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}  
.bienvenida__imagen{
    text-align: center;
}

.bienvenida__logo{ 
    height: 100px;
}

.bienvenida__texto {
    padding: 2rem 1rem 1rem 1rem;
}

.bienvenida__imagen {
    padding: 0 0 1rem 0;
}


